.users {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.users .background-img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}

.users .background-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.auth_form {
    width: 300px;
    border: solid 2px #ccc;
    padding: 4rem 2rem;
    backdrop-filter: blur(25px);
    background-color: #ffffff23;
    border-radius: 0.3rem;
}

.auth_form h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 2rem;
}

.auth_form .form_field {
    margin: 2.8rem 0;
}

.auth_form input {
    background-color: transparent;
    border: solid 2px #ccc;
    height: 2.5rem;
    width: 100%;
    outline: none;
    font-size: 12px;
    padding: 1.8rem 1rem;
    color: #fff;
    border-radius: 1rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    box-shadow: inset 1px 1px 3px #00000053;
}

.auth_form input:focus {
    box-shadow: inset 2px 2px 5px #00000053;
}

.auth_form input::placeholder {
    color: #ffffffba;
    font-weight: 550;
}

.auth_form button {
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    background-color: transparent;
    color: #fff;
    border: solid 2px #ccc;
    padding: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.auth_form p:last-child {
    margin-top: 2rem;
    text-align: center;
}

.auth_form p:last-child a {
    color: rgb(228, 116, 228);
    text-decoration: none;
}

.errorlist {
    font-size: 10px;
    margin-top: 2rem;
    color: rgb(255, 93, 93);
}