{% extends "global/base.html" %}
{% load static %}

{% block body_content %}
<main class="users">

    <div class="background-img">
        <img src="{% static "assets/background.jpg" %}" alt="">
    </div>

    <form action="{{form_action}}" method="post" class="auth_form">
        {% csrf_token %}
        <h1>Login</h1>
        {% for field in form %}
        <div class="form_field">
            {{field}}
            {{field.errors}}
        </div>
        {% endfor %}

        <button type="submit">Entrar</button>

        <p>Não possui conta? <a href="{% url "users:register" %}">Cadastre-se aqui</a></p>
    </form>
        
</main>
{% endblock body_content %}
